.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  margin-left: 280px; 
  min-height: 100vh;
  /* Top, Rigth, Bottom, Left */
  padding: 5vmin 7vmin 5vmin 2vmin;
  box-sizing: border-box;
}

.searchFilterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3vmin;
}

.selectsContainer {
  display: flex;
  align-items: center;
  gap: 2vmin;
}

.title {
  margin-top: 0;
  padding-top: 0; /* Removido padding-top negativo */
}

/* Search Input */
.searchInput {
  flex-grow: 1;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 24 24'%3E%3Cpath d='M10 2C5.589 2 2 5.589 2 10c0 4.411 3.589 8 8 8a7.96 7.96 0 005.656-2.344l4.658 4.658 1.414-1.414-4.658-4.658A7.96 7.96 0 0018 10c0-4.411-3.589-8-8-8zm0 2c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z'/%3E%3C/svg%3E")
    no-repeat 98% center;
  background-size: 16px;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 6px 8px 10px #acacac;
}

/* Filter Select */
.filterSelect {
  min-width: 18vw; /* Responsivo, baseado em porcentagem */
  padding: 1.2rem 1rem;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 6px 8px 10px #acacac;
}

.sortContainer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.sortSelect {
  min-width: 18vw;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 6px 8px 10px #acacac;
  margin-left: 2vmin;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(390px, 1fr)
  ); /* Responsivo com base na largura */
  gap: 2vw;
  width: 100%;
}

.clientCard {
  background-color: #b3d1be;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 6px 8px 10px #acacac;
  text-align: left;
}

.clientId {
  font-size: 1.2rem;
  font-weight: bold;
  color: #046320;
}

.detailsButton {
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: #046320;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 5px;
}

.detailsButton:hover {
  background-color: #034b24;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 4vmin;
  align-items: center;
}

.pageButton {
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 5px 10px #acacacaf;
}

.pageButton:hover {
  background-color: #bdbdbd;
}

.pageButton.active {
  background-color: #016828;
  color: white;
}

.pagination-arrow {
  font-size: 1.5rem;
  margin: 0 1vw;
  cursor: pointer;
  color: #046320;
}

.pagination-arrow:hover {
  color: #034b24;
}

.clientInfo {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

/* Media Queries para telas menores */
@media (max-width: 1024px) {
  .container {
    margin-left: 0;
    padding: 5vmin 3vmin;
  }

  .searchFilterContainer {
    display: flex;
    flex-direction: column; /* Torna a ordem vertical por padrão */
    gap: 2vmin;

  }

  .searchInput {
    width: 70%; 
    margin-left: 270px;
  }

  .selectsContainer {
    display: flex; 
    align-content: end;
    gap: 2vmin; 
    width: 97%; 

  }

  .cardsContainer {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Ajusta o tamanho das colunas */
  }

  .detailsButton {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .searchFilterContainer {
    flex-direction: column;
    gap: 2vmin;
  }

  .cardsContainer {
    grid-template-columns: 1fr; /* Apenas uma coluna */
  }

  .detailsButton {
    width: 100%;
  }
}
