/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  margin-left: 250px;
  padding: 20px;
}

.title {
  font-size: 4.5vmin;
  color: #09292a;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  font-weight: 900;
}

/* Linha de gráficos */
.graphRow {
  display: flex;
  justify-content: space-around;
  width: 95%;
  gap: 20px;
}

/* Contêiner de cada gráfico */
.graphContainer {
  width: 30%;
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover para os contêineres de gráficos */
.graphContainer:hover {
  transform: translateY(-5px); /* Levanta o gráfico de forma mais sutil */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Aumenta a sombra suavemente */
}

.graphContainerLTV{
  width: 40%;
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 2%;
}
.graphContainerLTV:hover {
  transform: translateY(-5px); /* Levanta o gráfico de forma mais sutil */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Aumenta a sombra suavemente */
}

/* Flexbox para os gráficos e suas legendas */
.graphContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens verticalmente */
}

.legendContainer {
  width: 45%; /* Ajusta a legenda para ocupar 45% da largura */
  text-align: left; /* Alinha a legenda à esquerda */
  margin-left: 20px; /* Adiciona um pequeno espaço entre os gráficos e a legenda */
  margin-top: 5vmin;
}

.legendList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Aumenta o espaçamento entre os itens da legenda */
}

.legendList li {
  font-size: 1.5vmin;
  font-weight: bold;
  text-align: center; /* Garante que o texto fique centralizado */
}

/* Estilos para responsividade */
@media (max-width: 768px) {
  .container {
    margin-left: 0; /* Remove a margem da barra lateral em telas menores */
    padding: 5vmin 15px; /* Ajusta o padding em telas pequenas */
  }

  .graphRow {
    flex-direction: column;
    align-items: center;
  }

  .graphContainer {
    width: 90%; /* Usa 90% da largura disponível */
    margin-bottom: 20px;
  }

  .graphImage,
  .graphLegend {
    max-width: 100%; /* Permite que as imagens ocupem toda a largura disponível em telas pequenas */
  }
}

@media (max-width: 1440px) {
  .graphRow {
    flex-direction: column;
    align-items: center;
  }

  .graphContainer {
    width: 50%;
    margin-bottom: 20px;
  }
}